a.nav-link:hover{
    color: rgb(43, 127, 127);
}

.cardpaisajes{
    display: flex;
    justify-content: space-between;
}

.efectocard{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.527);
}

.efectocard:hover{
    transform: scale(1.07);
    border-color: #40b9c9;
    background-color: #1d1d1e;
    transition: transform 0.3s 
}

.imgcentro{
    height: 200px;
}

@media (max-width: 767px){
    .cardpaisajes{
        justify-content: center;
    }
}